.line-clamp {
	
  }
img {
}
.product-name{
	color: rgb(40, 44, 63);
    display: inline-block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;;
}
p {
	color: #686b78;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.card {
	width: 200px;
	padding: 15px;
	transition: all 0.3s;
	border: 1px solid transparent;
	margin-bottom: 20px;
}
.card:hover {
	border-color: #d3d5df;
	box-shadow: 0 4px 7px 0 rgba(218, 220, 230, 0.6);
}
.card-img {
	height: 150px;
	position: relative;
}
.mark{
    display: flex;
	margin-bottom: 5px;
}
.agmark{
    border: 1px solid transparent;
	position: relative;
	/* top: 10px; */
	/* right: 10px; */
	display: flex;
	height: 14px;
	width: 14px;
	justify-content: center;
	align-items: center;
    margin-right: 10px;
}
.agmark-veg{
    border-color: #ad4728;
}
.agmark::after {
	content: '';
	position: absolute;
	height: 55%;
	width: 55%;
	border-radius: 50%;
}
.agmark-veg::after {
	background-color: #ad4728;
}
.agmark-nonveg{
	border-color: #008000;
}
.agmark-nonveg::after {
	background-color: #008000;
}
.card-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.card .details {
	margin-top: 10px;
}
.name {
}
.star {
}
.star svg {
	font-size: 1rem;
}
.star-raiting {
	/* background-color:#48c479; */
	padding: 0 5px;
	border-radius: 2px;
	color: #fff;
	display: flex;
	align-items: center;
}
.star-raiting span {
	display: inline-block;
}
.raiting-details {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.rating {
	font-size: 0.9rem;
}
.counter {
	display: flex;
	align-items: center;
}
.counter button{
	height: 20px;
	width: 20px;
	border: 1px solid #686b78;
	outline: none;
	background: #fff;
}
.counter span{
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
}
.add-remove {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 5px;
}
.cart-icon {
	cursor: pointer;
}
[disabled]{
	cursor: not-allowed;
}


